{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="text-center m-5 text-3xl">Tâches à faire</h1>

<div class="text-center m-5">
    <a href="{{ path('app_task_new') }}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">+</a>
</div>

<div class="w-2/4 m-auto">
    {% for task in tasks %}
    {% if task.status == "Non effectué" %}
        <div class="p-4 m-5 mb-4 text-center text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
        <span class="font-medium">{{ task.name }}</span> | {{ task.designation }} | {{ task.date ? task.date|date('d/m/Y') : '' }} | <a href="{{ path('app_task_edit', {'id': task.id}) }}" type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Modifier le statut</a>
        </div>
    {% endif %}
    {% endfor %}
</div>
<div class="flex justify-center m-5">
    <a class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800" href="{{ path('app_task_index') }}">Voir les tâches effectuées</a>
</div>
{% endblock %}
